@*@BaseCode*@
@*#if ACCOUNT_ON*@@*
@model QuickTemplate.AspMvc.Models.Account.IdentityRole

<tr>
    <td>
        @Html.DisplayFor(model => model.Designation)
    </td>
    <td>
        @Html.DisplayFor(model => model.Description)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
    </td>
</tr>
*@@*#endif*@
